* {
  -webkit-touch-callout: none !important; /* iOS Safari */
  -webkit-user-select: none !important; /* Safari */
  -khtml-user-select: none !important; /* Konqueror HTML */
  -moz-user-select: none !important; /* Firefox */
  -ms-user-select: none !important; /* Internet Explorer/Edge */
  user-select: none !important; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.ui.basic.button, .ui.basic.buttons .button {
  background: transparent none!important;
  color: #614d7b !important;
  font-weight: 600;
  border-radius: .28571429rem;
  text-transform: none;
  text-shadow: none!important;
  -webkit-box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset;
  box-shadow: 0 0 0 1.5px rgba(97, 77, 123  , 0.94) inset;
}

.ui.tabular.menu {
  font-size: medium;
}

.ui.form .field>label {
  font-size: 1.2em
}

.ui.vertical.menu {
  width: 15rem;
}

.ui.table thead tr:first-child>th:first-child {
  border-radius: 0rem 0 0 0;
}

.ui.table thead tr:first-child>th:last-child {
  border-radius: 0rem 0 0 0;
}
.ui.vertical.menu .active.item {
  background: rgba(0,0,0, .10);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px !important;
}

.ui.menu {
  margin: 0px;
}

i.large.icon, i.large.icons {
  float: right;
}

.ui.table thead th {
  background-color: #fff;
  color: #614d7b;
}


i.big.icon, i.big.icons {
  font-weight: lighter !important;
  font-size: 1.7em;
}

.ui.green.message {
  background-color: rgba(229,249,231,0.8) !important;
}

.ui.red.message{
  background-color: rgba(255,232,230,0.8) !important;
}
